#conteneur{
	width : 500px;
	height : 500px;
	background-color : red;
	position : relative;
}

.mur{
	background-color : black;
	position : absolute;
}
.bombe{
	position : absolute;
}
.joueurEnVie{
	position : absolute;
}
.joueurMort{
	position : absolute;
}