#conteneur{
	width : 500px;
	height : 500px;
	background-repeat: repeat-x repeat-y;
	position : relative;
}

.mur{
	position : absolute;
}
.bombe{
	position : absolute;
}
.joueurEnVie{
	position : absolute;
}
.joueurMort{
	position : absolute;
}
